name: Build and Deploy ASP.NET Core App to Azure Web App - Comp4976Assignment1BackEnd

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Restore dependencies
        run: dotnet restore ./ObituaryApp.sln

      - name: Build solution
        run: dotnet build ./ObituaryApp.sln --configuration Release --no-restore

      - name: Publish AppHost project
        run: dotnet publish ./Obituary.AppHost/Obituary.AppHost.csproj -c Release -o ./publish_output --no-build

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-app
          path: ./publish_output

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: dotnet-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_EC86EF00044047EBA243CCDD9CCBFE59 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4A4A7FB88E62486690065B380A938F54 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_BEA165114D8E43B7B148E274DBA07320 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Comp4976Assignment1BackEnd'
          slot-name: 'Production'
          package: './'
